[run]
source = handlers,utils
omit = 
    */tests/*
    */venv/*
    */__pycache__/*
    */migrations/*
    config.py
    main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
