name: Deploy to Local Server

on:
  push:
    branches:
      - master  # измени при необходимости
    workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted  # ключевое — self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate unique tag
        id: tags
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          TIMESTAMP=$(date +%Y%m%d-%H%M%S)
          echo "tag=${TIMESTAMP}-${SHORT_SHA}" >> $GITHUB_OUTPUT


      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/money_bot:${{ steps.tags.outputs.tag }}
            ghcr.io/${{ github.repository_owner }}/money_bot:latest

      - name: Set environment file
        run: |
          echo "TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}" > .env
          echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
          echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env
          echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "USERS_FOLDER=/app/data/users" >> .env

      - name: Deploy new version
        run: |
          export BOT_TAG=${{ steps.tags.outputs.tag }}
          docker compose pull bot
          docker compose up -d --no-deps bot

